<div class="py-4">
  <div class= "mb-4 btn-group">
    <div class= "mx-2">
      <%= button_to "Create", new_user_path, method: :get, class: "btn btn-success" %>
    </div>
    <form class="d-flex" method="GET" action="/searchuser">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query">
      <button class="btn btn-success" type="submit">Search</button>
    </form>
  </div>
  <div class="card">
    <div class="card-header">
      User Lists
    </div>
    <div class="card-body"> 
      <table class="table table-responsive table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Type</th>
                <th>Created User</th>
                <th>Phone</th>
                <th>Date of Birth</th>
                <th>Address</th>
                <th collapse=2>Operation</th>
            </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
                <td><%=link_to user.name, user %></td>
                <td><%= user.email %></td>
                <td><%= user.role %></td>
                <td><%= user.create_user_id %></td>
                <td><%= user.phone %></td>
                <td><%= user.dob %></td>
                <td><%= user.address %></td>
                <td><%= button_to "Delete", user_path(user),
                                data: { confirm: "Are you sure?" }, 
                                method: :delete,
                                class: "btn btn-danger" %></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%= will_paginate @users %>
