<div class="py-4">
<div class="card">
  <div class="card-header">
    Edit Post
  </div>
  <div class="card-body">
    <%= form_with model: @post do |form| %>
      <div class="form-group row">
        <div class="col-md-2"> <%= form.label :title %> </div>
        <div class="col-md-6"><%= form.text_field :title %>
          <% if @post.errors[:title].any? %>
            <% @post.errors[:title].each do |message| %>
              <%= message %>
            <% end %>
          <% end %>
        </div>
      </div>
      <br/>
      <div class="form-group row">
        <div class="col-md-2"> <%= form.label :description %> </div>
          <div class="col-md-6"> <%= form.text_area :description %> 
            <% if @post.errors[:description].any? %>
              <% @post.errors[:description].each do |message| %>
                <%= message%>
              <% end %>
            <% end %>        
          </div>
      </div>
      <br/>
      <div class="form-group row">
        <div class="col-md-2"> <%= form.label :status %> </div>
        <div class="col-md-6">
          <div class="form-check">
            <%= form.check_box :status , checked: (@post.status == 1 ?  true : false )  %>
          </div>
        </div>
      </div>
      <br/>
      <div class="form-group row mb-0">
	      <div class="col-md-3 offset-md-2">
          <%= form.submit :type =>"submit", class: "btn btn-success" %>
          <%= button_tag "Clear", type: :reset, class: "btn btn-success" %>
	      </div>
      </div>
    <% end %>
  </div>
</div>
</div>
